@font-face {
    font-family: 'Terminus';
    src: url('src/fonts/terminus-webfont.woff2');
    font-display: swap;
}

:root {
    --main-color: #a4cdf8;
    --bg-color: #0f81ec;
    --bg-color-2: #0f81eca9;
    --bg-opacity: 0.194;
    --selection: rgba(235, 250, 250, 0.95);
    --warning-color: rgb(240, 86, 86);
    --info-color: #ffffff;

    font-size: 10px;
/*
    Default values:
    --main-color: #a4cdf8;
    --bg-color: #0f81ec;
    --bg-color-2: #0f81ec75;
    --bg-opacity: 0.194;
    --selection: rgba(235, 250, 250, 0.95);
    --warning-color: rgb(240, 86, 86);

    Green Theme:
    --main-color: #57f052;
    --bg-color: #54f30b;
    --bg-color-2: #54f30b77;
    
    Orange Theme:
    --main-color: #ff8215;
    --bg-color: #e07314;
    --bg-color-2: #f5780c77;
    */
}

pre:not(#title), code {
    white-space: pre-wrap;
}

body {
    font-family: 'Terminus', sans-serif;                    

    background-color: black;

    overflow-x: hidden;

    color: var(--main-color);
}

a:link, a:visited {.pr_warning em::before {
    content: "⚠️ ";
    
}

    color: var(--main-color);
}

#canvas {
    font-size: 1.75em;
    padding: 2em;

    height: 100%;
}

#title {
    width: 100%;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    -webkit-user-select: none;
    user-select: none;
}

pre, p, li, h2, td{
    margin: 0;

    font-weight: bold;

    text-shadow: 0 0 7px var(--main-color), 0 0 20px var(--main-color), 0 0 40px var(--main-color);
}


/* FLICKER ANIMATION */
@keyframes flicker {
    from {
        opacity: 100%;
    }

    to {
        opacity: 90%;
        /* margin-left: 0.03em; /* Potentially causes performance issues and leads to less readability*/
    }
}

#canvas {
    animation: 0.9s infinite both flicker;
    transform: translateZ(0); /* offload to GPU, might improve performance */
}

/* NOISE */
@keyframes noise {
    from {
        filter: brightness(0.1);
    }

    to {
        filter: brightness(0.08);
    }
}

#noise_vid {
    height: 100vh;
    width: 100vw;
    
    object-fit: cover;

    filter: brightness(0.1);
    animation: 5s infinite forward noise;

    opacity: 0.75;

    transform: translateZ(0); /* offload to GPU, might improve performance */
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% -145%;
    }
}

#videohue {
    opacity: var(--bg-opacity);
    display: block;

    background: linear-gradient(var(--bg-color-2) 70%, var(--bg-color) 100%);
    background-size: 100% 200%; /* This ensures the gradient covers the entire element */
    animation: gradient 10s infinite linear;
}

#videohue, #noise_vid {
    position: fixed;
    overflow: hidden;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.2;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%, var(--bg-color) 250%);
}

/* NAV BAR */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:last-child) {
    padding-right: 2.5em;
}

nav ul li a {
    display: block;
    text-decoration: underline;

    padding: 0.3em 0 0.3em 0;

    transition: background-color 0.1s ease-out;
}


a:hover {
    background-color: rgba(235, 250, 250, 0.95);
    cursor: pointer;
    color: rgba(39, 76, 124, 0.616);

    transition: color box-shadow 0.1s;

    box-shadow: 0 0 18px 0px rgba(152, 211, 238, 0.9);

    text-decoration: none;
}

/* print animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fade-in.visible:not(em) {
    opacity: 1;
    transform: translateY(0);
}

.fade-in.visible em {
    opacity: 0.7;
    transform: translateY(0);
}

/* SELECT */
::selection {
    background-color: var(--selection);
}

/* PAGES */ 
.invisible {
    display: none;
}

.tabs:not(:target) {
    display: none;
}

.tabs {
    border: solid var(--main-color);
    padding: 1.5em;
}


/* PROJECTS */
#pr_list {
    padding-left: 0;
}

#pr_list li {
    list-style: none;
    border: solid var(--main-color);
    border-width: 1px;
    padding: .5em;
}

#pr_list li:not(:last-child) {
    margin-bottom: 1.5em;
}

.pr_title {
    font-size: 1.2em;
}

.pr_warning, .pr_warning em{
    color: var(--warning-color);
    text-shadow: 0 0 7px var(--warning-color), 0 0 20px var(--warning-color), 0 0 40px var(--warning-color);
}

.pr_info, .pr_info em{
    color: var(--info-color);
    text-shadow: 0 0 7px var(--info-color), 0 0 20px var(--info-color), 0 0 40px var(--info-color);
}

/* PICTURES */
.row {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    
    width: 100%;
}

.row img {
    flex: 1 1 auto;
    -webkit-user-select: none;
    user-select: none;

    transition: filter 0.3s ease-in-out;

    width: 0; /* To make it work in Chrome, for some reason */
}

.row img:hover {
    filter: brightness(1.5);
    cursor: pointer;
}

/* ABOUT */
table {
    width: 100%;
}

.desc {
    padding-left: 1.em;
    width: max-content;
    display: flex;
    justify-content: left;
    text-align: left;
}

p em {
    opacity: 0.7;
}

em a {
    transition: background-color 0.4s ease-out;
}



/* CONTACT */
#contact p a {
    text-decoration: underline;
}

/* MOBILE */
@media screen and (max-width: 85em) {
    .desc {
        display: none;
    }
}

@media screen and (max-width: 50em) {
    .row {
        display: block;
    }
    .row img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .contact_link {
        margin-bottom: 1.75em;
    }
    .contact_link a {
        padding: 0.5em 0 0.5em 0;
    }
    nav ul li:not(:last-child) {
        padding-right: 0;
    }
    nav ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1050px) {
    #title {
        font-size: 2.3vw;
        margin-bottom: 2em;
    }
    #canvas {
        padding: 0.5em;
    }
    .tabs {
        padding: 0.75em;
    }
}

@media screen and (min-width: 1600px) {
    /* Prevent the images from getting too big on wide screens */
    .row img {
        max-width: 800px;
    }
    .row {
        justify-content: left;
    }
}